/* Estiliza o cabeçalho */
header {
  background-color: #333; /* Define a cor de fundo do cabeçalho */
  color: #fff; /* Define a cor do texto do cabeçalho como branco */
  text-align: center; /* Alinha o texto ao centro */
  padding: 20px 0; /* Adiciona preenchimento acima e abaixo */
}

header h1 {
  color: #fff; /* Altera a cor do texto do nome para branco */
}

header img {
  border-radius: 50%; /* Arredonda as bordas da imagem */
  width: 150px; /* Define a largura da imagem */
  height: 150px; /* Define a altura da imagem */
  margin-bottom: 10px; /* Adiciona margem inferior */
}
