/* Estiliza o cabeçalho */
header {
  background-color: #333; /* Cor de fundo do cabeçalho */
  color: #fff; /* Cor do texto do cabeçalho como branco */
  text-align: center; /* Alinhar texto ao centro */
  padding: 20px 0; /* Adiciona preenchimento acima e abaixo */
}

header h1 {
  color: #fff; /* Cor do texto do nome para branco */
}

header img {
  border-radius: 50%; /* Arredondar bordas da imagem */
  width: 150px; /* Ajusta largura da imagem */
  height: 150px; /* Ajusta altura da imagem */
  margin-bottom: 10px; /* Margem inferior */
}
